- provide(:title, "Unlimited Classes For Your Children")
- content_for :bottom_js do
  = javascript_include_tag 'slick.min'
  = javascript_include_tag 'chosen.min'
  = javascript_include_tag 'ion.rangeSlider.min'
  = javascript_include_tag 'moment.min'
  = javascript_include_tag 'frontpage'
.content.home-page.white-bg.no-padding
  / Section - Main
  #section-main.section-row
    .container
      .row
        .col-md-6
          %h2.page-heading.section-headline One Pass
          %br
            %h2.page-heading.section-headline Unlimited Activities
            .text-center
              %h3.page-heading.section-subheading For Children
      .row
        .col-md-6
          %p.section-text GeniusPass is a monthly membership created exclusively for children to provide them unlimited access to variety of activities in top studios and facilities.
        .col-md-6
          .map-image
            = image_tag "malaysia-map.png", title: "Malaysia", alt: "Malaysia"
            %p.map-label We're Now In Malaysia
  / Section - Flags
  #section-flags.section-row
    .container
      .row
        .col-md-5.text-left-not-xs.text-left-not-sm.text-center-xs.text-center-sm
          %span.small-heading Expanding Across
          %h3.page-heading.heading
            8 Cities
            %span Counting
        .col-md-7
          .flag-list
            %ul
              %li.flag-icon= image_tag "flags/SG.png", alt: "Singapore", title: "Singapore"
              %li.flag-icon= image_tag "flags/MY.png", alt: "Malaysia", title: "Malaysia"
              %li.flag-icon= image_tag "flags/KR.png", alt: "South Korea", title: "South Korea"
              %li.flag-icon= image_tag "flags/IN.png", alt: "India", title: "India"
              %li.flag-icon= image_tag "flags/ID.png", alt: "Indonesia", title: "Indonesia"
              %li.flag-icon= image_tag "flags/HK.png", alt: "Hong Kong", title: "Hong Kong"
              %li.flag-icon= image_tag "flags/CN.png", alt: "China", title: "China"
              %li.flag-icon= image_tag "flags/AU.png", alt: "Australia", title: "Australia"
  / Section - Features
  #section-features.section-row
    .container
      .slider-features.row
        .slider-features-container.col-sm-6.col-md-4.col-md-offset-1
          .slider-phone-frame
          .slider-features-images
            .feature-image= image_tag "web-app-screenshot1.png", alt: "App Screenshot", title: "App Screenshot"
            .feature-image= image_tag "web-app-screenshot2.png", alt: "App Screenshot", title: "App Screenshot"
            .feature-image= image_tag "web-app-screenshot3.png", alt: "App Screenshot", title: "App Screenshot"
            .feature-image= image_tag "web-app-screenshot4.png", alt: "App Screenshot", title: "App Screenshot"
        .slider-features-container.col-sm-6.col-md-6.text-center-xs
          .slider-features-content
            .feature-content
              %h1.page-heading.feature-title
                Choose
                %span Activity
              %p.feature-description Variety of activities for your children
            .feature-content
              %h1.page-heading.feature-title
                Choose
                %span Location
              %p.feature-description Search preferred locations near you
            .feature-content
              %h1.page-heading.feature-title
                %span Reserve
                Activities
              %p.feature-description Walk-in to explore, enjoy and learn
            .feature-content
              %h1.page-heading.feature-title
                %span IOS and Android
                Mobile App
              %p.feature-description Launching soon
          .slider-nav
            .slider-dots
            .slider-arrows
  / Section - Subscription
  #section-subscription.section-row
    .container
      %p.section-text.text-center Keep up-to-date with our latest happenings!
      .mc_embed_signup.subscription-form-container
        %form#mc-embedded-subscribe-form.validate.subscription-form{:action => "//geniuspass.us10.list-manage.com/subscribe/post?u=06b2675db3a573a09ca434ca3&id=2b51fe0248", :method => "post", :name => "mc-embedded-subscribe-form", :target => "_blank"}
          .mc-field-group
            %input#mce-EMAIL.form-field{:name => "EMAIL", :placeholder => "Enter your email...", :type => "email"}/
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{:style => "position: absolute; left: -5000px;"}
              %input{:name => "b_06b2675db3a573a09ca434ca3_2b51fe0248", :tabindex => "-1", :type => "text", :value => ""}
            %input#mc-embedded-subscribe.form-submit-btn{:name => "submit", :type => "submit", :value => "Submit"}/
          #mce-responses.clear
            #mce-error-response.response{:style => "display:none"}
            #mce-success-response.response{:style => "display:none"}


  / Section - Partners
  #section-partners.section-row
    .container
      %h1.page-heading.section-heading Our Partners
      .partners-list
        .row
          - ary = [3, 5, 4, 5, 4, 3]
          - i = 0
          - @featured_partners = Partner.all.featured_partners.includes( :activities )
          - @featured_partners.map do |partner|
            .col-sm-4{ :class => "col-md-#{ary[i]}"}
              - i = i+1
              .partner-details
                .partner-info
                  = image_tag partner.img_url, :class => "partner-bg"
                  - if partner.logo.present?
                    = image_tag partner.logo.thumb.url, :class => "partner-logo"
                  - else
                    = image_tag "partner-logo1.png", alt: "Company Name - 1", title: "Company Name - 1", class: "partner-logo"
                  .label-title= partner.company
                  .bg-overlay
                - if partner.activities.present?
                  .label-activities= partner.try(:activities).try(:pluck, :name).try(:join ,", ")


  / Section - Location
  #section-location.section-row
    %div{:style => "width: 100%;"}
      #map.map-height-main{:style => "width: 100%"}
    = render :partial => "shared/map",
            :locals => { :markers => markers_ary( @featured_partners)}

    = link_to partners_path, :class => "location-info hidden-xs" do
      .location-info-container
        %h3.page-heading.location-info-counter 285
        %h4.page-heading.location-info-title Activities Location
        %span.location-info-description Find nearby places
      .location-info-bar See All +
