<% provide(:title, "Unlimited Classes For Your Children") %>

<% content_for :bottom_js do %>
  <%= javascript_include_tag 'slick.min' %>
  <%= javascript_include_tag 'chosen.min' %>
  <%= javascript_include_tag 'ion.rangeSlider.min' %>
  <%= javascript_include_tag 'moment.min' %>
  <%= javascript_include_tag 'frontpage' %>
<% end %>

<div class="content home-page white-bg no-padding">
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>

  <!-- / Section - Main -->
  <div class="section-row" id="section-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 header-text-container">
          <h1>Discover The Best Activities Combination For Your Children</h1>
          <p class="lead">WE CURATE, YOU DECIDE!</p>
        </div>

        <div class="col-md-6">
          <%= form_tag contact_request_zipcodes_path, class: 'form-inline send-request-zipcode-form', id: 'top-request-zipcode-form' do %>
            <div class="form-group">
              <div class="user-email">
                <%= email_field_tag :email, nil,  placeholder: "Email", class: 'contact-request-text', required: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="user-postcode">
                <%= text_field_tag :zipcode, nil, placeholder: 'Postcode', class: 'contact-request-text', required: true %>
              </div>
            </div>

            <%= submit_tag "Get Started", class: 'btn btn-primary' %>
          <% end %>
        </div>

        <div class="col-md-6 right-header-activities">
          <div class="header-activities">
            <%= image_tag 'dance.png' %>
            <div class="title">DANCES</div>
          </div>
          <div class="header-activities">
            <%= image_tag 'art.png' %>
            <div class="title">ARTS</div>
          </div>
          <div class="header-activities">
            <%= image_tag 'sports.png' %>
            <div class="title">SPORTS</div>
          </div>
          <div class="header-activities">
            <%= image_tag 'fitness.png' %>
            <div class="title">FITNESS</div>
          </div>
          <div class="header-activities">
            <%= image_tag 'martial.png' %>
            <div class="title">MARTIAL</div>
          </div>
          <div class="header-activities">
            <%= image_tag 'education.png' %>
            <div class="title">EDUCATION</div>
          </div>
          <div class="header-activities">
            <%= image_tag 'music.png' %>
            <div class="title">MUSIC</div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <div class="section-row cta-container">
    <div class="container">
      <div class="row">
        <div class="col-md-9 lead-text">
          <h2>Sign Up For Free & Get 2 FREE Activities Worth RM50 For Your Child</h2>
        </div>
        <div class="col-md-3 lead-btn">
          <%= link_to 'Get Started', '#', class: 'btn btn-primary btn-block', id: 'top-get-started-btn' %>
        </div>
      </div>
    </div>
  </div>

  <!-- / Section - Features -->
  <div class="section-row why-geniuspass-container gray-bg mid">
    <div class="container">
      <div class="row">
        <h2>Why GeniusPass?</h2>
        <p class='headline-description'>These Are Why Your Children Will Excel With Us</p>

        <div class="col-md-6">
          <div class="col-md-6 benefits-container">
            <%= image_tag 'personalize-curated-activities.png' %>
            <div class="title">Personalize Curated Activities</div>
          </div>
          <div class="col-md-6 benefits-container">
            <%= image_tag 'all-rounded-child-development.png' %>
            <div class="title">All-Rounded Child Development</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6 benefits-container">
            <%= image_tag 'variety-development-activities.png' %>
            <div class="title">Variety Of Development Activities</div>
          </div>
          <div class="col-md-6 benefits-container">
            <%= image_tag 'expert-research.png' %>
            <div class="title">Expert Research</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6 benefits-container">
            <%= image_tag 'track-child-progress.png' %>
            <div class="title">Track Child Progress Effectively</div>
          </div>
          <div class="col-md-6 benefits-container">
            <%= image_tag 'affordable-save-money.png' %>
            <div class="title">Affordable & Save Money </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6 benefits-container">
            <%= image_tag 'time-flexibility.png' %>
            <div class="title">Time Flexibility</div>
          </div>
          <div class="col-md-6 benefits-container">
            <%= image_tag 'convenient.png' %>
            <div class="title">Convenient To Your Location</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section-row mid elements-container">
    <div class="container">
      <div class="row">
        <h2>GeniusPass Develops 7 Brain’s Components</h2>
        <p class='headline-description'>We Focus On Developing All-Rounded Capable Children</p>

        <div class="col-md-12">
          <div class="components-div">
            <div class="component">
              <%= image_tag 'analytical.png' %>
              <div class='title'>ANALYTICAL</div>
            </div>

            <div class="component">
              <%= image_tag 'intellectual.png' %>
              <div class='title'>INTELLECTUAL</div>
            </div>

            <div class="component">
              <%= image_tag 'logical.png' %>
              <div class='title'>LOGICAL</div>
            </div>

            <div class="component">
              <%= image_tag 'physical.png' %>
              <div class='title'>PHYSICAL</div>
            </div>

            <div class="component">
              <%= image_tag 'creativity.png' %>
              <div class='title'>CREATIVITY</div>
            </div>

            <div class="component">
              <%= image_tag 'artistic.png' %>
              <div class='title'>ARTISTIC</div>
            </div>

            <div class="component">
              <%= image_tag 'memory.png' %>
              <div class='title'>MEMORY</div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section-row steps-container gray-bg mid">
    <div class="container">
      <div class="row">
        <h2>Transform Your Children with 3 Steps</h2>
        <p class='headline-description'></p>
        <div class="col-md-4">
          <div class="brief-title-div">
            <%= image_tag 'step-1-note.png' %>
            <div class="description">
              <p>Discover whether your child is left or right-brain oriented.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="brief-title-div">
            <%= image_tag 'step-2-love.png' %>
            <div class="description">
              <p>Send your child to recommended curated activities in top centres.</p>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="brief-title-div">
            <%= image_tag 'step-3-graph.png' %>
            <div class="description">
              <p>Boost up your child’s development with our fun tracking system!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-row mobile-app-container mid">
    <div class="container">
      <div class="row">
        <div class="col-md-5 left-container">
          <%= image_tag 'mobile-app.png' %>
        </div>

        <div class="col-md-7 right-container">
          <h2>Launching Soon!</h2>

          <p>GeniusPass mobile application enables seamless experience with an easy-to-use booking and tracking system, whenever and wherever you are.</p>

          <div class="col-md-12 appstore-dl-container">
            <%= image_tag 'googledl.png', class: 'appstore-img-dl' %>

            <%= image_tag 'appledl.png', class: 'appstore-img-dl' %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- / Section - Partners -->
  <div class="section-row mid">
    <div class="container">
      <div class="row">
        <h2>Featured Partners</h2>
        <p class="headline-description">These Are Some Of Our Top Class Partnering Centres & Studios</p>
        <% if @featured_partners.present? %>

          <% @featured_partners.each_with_index do |partner, index| %>
            <% if index == 0 %>
              <div class="col-md-3">
            <% elsif index == 1 %>
              <div class="col-md-5">
            <% elsif index == 2 %>
              <div class="col-md-4">
            <% elsif index == 3 %>
              <div class="col-md-5">
            <% elsif index == 4 %>
              <div class="col-md-4">
            <% elsif index == 5 %>
              <div class="col-md-3">
            <% end %>
              <div class="partner-feature-img">
                <%= image_tag partner.img_url, class: "partner-bg" %>
                <div class="bg-overlay"></div>
                <div class="company">
                  <%= partner.company %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="col-md-3">
          <div class="cta-partner">
            <div class="title">Get Started</div>
            <div class="description">To View More Partners</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section-row last-cta-container cta-container gray-bg">
    <div class="container">
      <div class="row">

        <div class="col-md-6"></div>
        <div class="col-md-6 col-xs-12 footer-cta-container">

          <%= form_tag contact_request_zipcodes_path, class: 'form-inline send-request-zipcode-form', id: 'bottom-request-zipcode-form' do %>
            <p class="footer-description">
              Sign up is Free & get 2 Free classes worth RM50 from multiple choices. For limited time only. Don’t miss out!
            </p>

            <div class="form-group">
              <div class="user-email">
                <%= email_field_tag :email, nil,  placeholder: "Email", class: 'contact-request-text', required: true %>
              </div>
            </div>

            <div class="form-group">
              <div class="user-postcode">
                <%= text_field_tag :zipcode, nil, placeholder: 'Postcode', class: 'contact-request-text', required: true %>
              </div>
            </div>

            <%= submit_tag "Get Started", class: 'btn btn-primary' %>
          <% end %>

        </div>


      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="comingsoon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body txt-align-center">
      <%= image_tag 'zipcode-no-result.png', height: '100', width: '300' %>
      <br>
      <br>

      <p>Oopss! We’re not in your location yet. We’ll <strong>definitely</strong> notify you once we’ve arrived at your neighborhood very soon! Meanwhile, check out hundreds of best curated activities and classes for kids!</p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Free to Explore', schedules_path, class: 'btn btn-lg btn-primary gp-button' %>
      </div>
    </div>
  </div>
</div>