<% provide(:title, "Sign Up as Partner") %>

<div class="content white-bg no-padding">
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>

  <div class="section-row" id='partner-header-div'>
    <div id='partner-overlay'></div>
    <div class="container">
      <div class='partner-header-inner-div'>
        <h1>
          Increase Your Revenue
          <br>With GeniusPass
        </h1>

        <%= link_to 'Get Started Now', '#partnership-signup-div', class: 'btn gp-button' %>
      </div>
    </div>
  </div>

  <div class="section-row" id='partner-lead-div'>
    <div class="container">
      <h2>Expand Your Business By Partnering With GeniusPass</h2>

      <div class="col-md-3 lead-div">
        <%= image_tag 'girl.png' %>

        <h3>User Growth</h3>
        <p>Get discovered and showcase your classes to thousand of users</p>
      </div>

      <div class="col-md-3 lead-div">
        <%= image_tag 'telemarketer.png' %>

        <h3>Partner's Support</h3>
        <p>Best support guaranteed 24 hours a day and 7 days a week</p>
      </div>
      <div class="col-md-3 lead-div">
        <%= image_tag 'megaphone.png' %>

        <h3>Brand Presence</h3>
        <p>Build strong branding and valuable exposure for your centre</p>
      </div>
      <div class="col-md-3 lead-div">
        <%= image_tag 'line-chart.png' %>
        <h3>Increase Revenue</h3>
        <p>Track your revenue, measure performance and improvise</p>
      </div>
    </div>
  </div>
<!--
  <div class="section-row" id='partner-whyus-div'>
    <div class="container">
      <h2>Why Partner With Us?</h2>

      <div class="col-md-6 lead-div">
        <%= image_tag 'get-discovered.png' %>
        <p>Get discovered and showcase your classes to thousand of users</p>
      </div>
      <div class="col-md-6 lead-div">
        <%= image_tag 'strong-branding.png' %>
        <p>Build strong branding and exposure of your centre</p>
      </div>
      <div class="col-md-6 lead-div">
        <%= image_tag 'visible-everytime.png' %>
        <p>Be visible to potential consumers 24 hours a day and 7 days a week</p>
      </div>
      <div class="col-md-6 lead-div">
        <%= image_tag 'track-revenue.png' %>
        <p>Track your revenue, measure performance and improvise</p>
      </div>
    </div>
  </div> -->

  <div class="section-row" id='partnership-signup-div'>
    <div class="container">
      <h2>Our Team Will Get Connected With You As Soon As Possible</h2>
      <p>Kindly fill up the form below</p>
      <%= form_for @partnership, url: partner_signup_path, html: { class: 'form-horizontal', id: 'partnership-sign-up-form' } do |f| %>
        <div class="form-group">
          <%= f.label 'City', class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :city, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
        <label class="col-sm-3 control-label" for="partnership_sign_up_Company Name">Company Name</label>
          <div class="col-sm-9">
            <%= f.text_field :company_name, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="partnership_sign_up_Website / Facebook">Website / Facebook</label>
          <div class="col-sm-9">
            <%= f.text_field :website, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Name', class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Email', class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.email_field :email, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" for="partnership_sign_up_Phone No.">Phone No.</label>
          <div class="col-sm-9">
            <%= f.text_field :phone, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Address', class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_area :address, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Comments', class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_area :comments, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            <%= f.submit 'Get in Touch', class: 'btn btn-lg gp-button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>