Hi

Just wanted to inform you that your reservation has been confirmed.


Here are the details

Child Name:
= @reservation.child.full_name

Schedule:

Class Name: #{@reservation.schedule.klass.name}
Activity  : #{@reservation.schedule.activity.name}
Starts at : #{@reservation.schedule.starts_at}
Ends at   : #{@reservation.schedule.ends_at}
