.row
  .pull-right
    = link_to "Change Package", new_child_subscription_path(child), class: 'form-submit-btn gp-button pull-right'
- if child.subscription.present?
  .form-section
    %h3.form-section-subtitle
      = child.first_name
      = child.last_name
    .form-group.field
      %label.col-sm-4.control-label Package Type
      .col-sm-8
        = text_field_tag  :package_type,
                          child.subscription.subscription_type.name,
                          :readonly => true,
                          :disabled => true
    .form-group.field
      %label.col-sm-4.control-label Membership Status
      .col-sm-8
        = text_field_tag  :membership_status,
                            subscription_status_translate(child.subscription.status),
                            :readonly => true,
                            :disabled => true
    .form-group.field
      %label.col-sm-4.control-label Renewal Date
      .col-sm-8
        = text_field_tag  :renewal_date,
                            child.subscription.renewal_date.strftime("%d %B, %Y"),
                            :readonly => true,
                            :disabled => true
