<div class='col-md-4'>
<% if child.subscription.present? %>
  <div class="form-section child-form-section">
    <h3 class="form-section-subtitle">
      <%= child.first_name %>
      <%= child.last_name %>
    </h3>
    <div class="form-group field">
      <label class="col-sm-4 control-label">Package Type</label>
      <div class="col-sm-8">
        <%= text_field_tag  :package_type, child.subscription.subscription_type.name, :readonly => true, :disabled => true %>
      </div>
    </div>

    <div class="form-group field">
      <label class="col-sm-4 control-label">Membership Status</label>
      <div class="col-sm-8">
        <%= text_field_tag  :membership_status, subscription_status_translate(child.subscription.status), :readonly => true, :disabled => true %>
      </div>
    </div>

    <div class="form-group field">
      <label class="col-sm-4 control-label">Renewal Date</label>
      <div class="col-sm-8">
        <%= text_field_tag  :renewal_date, child.subscription.renewal_date.strftime("%d %B, %Y"), :readonly => true, :disabled => true %>
      </div>
    </div>

    <% if child.subscription.subscription_type.free? %>
      <div class='txt-align-center'>
        <%= link_to "Upgrade Package", new_child_subscription_path(child), class: 'form-submit-btn gp-button package-btn' %>
      </div>
    <% elsif child.subscription.expired? %>
      <div class='txt-align-center'>
        <%= link_to "Renew Package", new_child_subscription_path(child), class: 'form-submit-btn gp-button package-btn' %>
      </div>
    <% end %>

  </div>
<% else %>
  <div class="form-section child-form-section">
    <h3 class="form-section-subtitle">
      <%= child.first_name %>
      <%= child.last_name %>
    </h3>
    <div class="form-group field">
      <label class="col-sm-4 control-label">Package Type</label>
      <div class="col-sm-8">
        <%= text_field_tag  :package_type, 'N/A', :readonly => true, :disabled => true %>
      </div>
    </div>

    <div class="form-group field">
      <label class="col-sm-4 control-label">Membership Status</label>
      <div class="col-sm-8">
        <%= text_field_tag  :membership_status, 'N/A', :readonly => true, :disabled => true %>
      </div>
    </div>

    <div class="form-group field">
      <label class="col-sm-4 control-label">Renewal Date</label>
      <div class="col-sm-8">
        <%= text_field_tag  :renewal_date, 'N/A', :readonly => true, :disabled => true %>
      </div>
    </div>

    <div class='txt-align-center'>
      <%= link_to "Change Package", new_child_subscription_path(child), class: 'form-submit-btn gp-button package-btn' %>
    </div>
  </div>

<% end %>
<br>
</div>
