= render 'shared/error_messages', object: f.object

.form-group.string.field
  = f.label :fullname, class: "col-sm-3 control-label control-label"
  .col-sm-9
    = f.text_field :fullname, class: "form-control", placeholder: 'Same as identity card'
.form-group.string.field
  = f.label :gender, class: "col-sm-3 control-label control-label"
  .col-sm-9
    = f.select :gender, [['Male', 'male'], ['Female', 'female']], { include_blank: true, required: true }, class: 'form-control'
.form-group.string.field
  = f.label :birth_year, class: "col-sm-3 control-label control-label"
  .col-sm-9
    = f.select :birth_year, (Date.current.year - 17)..(Date.current.year - 4), {}, {class: "form-control required"}
