= render 'shared/error_messages', object: f.object
.form-group.field
  = f.label :first_name, class: "col-sm-4 control-label capitalize"
  .col-sm-8
    = f.text_field :first_name, class: "form-control"
.form-group.field
  = f.label :last_name, class: "col-sm-4 control-label capitalize"
  .col-sm-8
    = f.text_field :last_name, class: "form-control"
.form-group.field
  = f.label :birth_year, class: "col-sm-4 control-label capitalize"
  .col-sm-8
    = f.select :birth_year, (Date.current.year - 17)..(Date.current.year - 4), {}, {class: "form-control required"}
