<% provide(:title, "Curated Activities") %>
<% provide(:page_title_bg, asset_path('background-footer.jpg')) %>

<div class="content schedules-page">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Curated Activities' } %>
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class='sidebar-children'>
          <div class='children-list'>
            <h3>Child's Name</h3>
            <ul class="nav">

              <% @children = current_user.children %>
              <% if @children.present? %>
                <% @children.each_with_index do |child, index| %>
                  <% if index.zero? && params[:child_id].blank? %>
                    <li class='active'>
                  <% elsif child.id == params[:child_id].to_i %>
                    <li class='active'>
                  <% else %>
                    <li>
                  <% end %>
                    <%= link_to curated_child_path(child), class: 'btn' do %>
                      <%= child.full_name %>
                    <% end %>
                    <i class='fa fa-lg fa-chevron-right'></i>
                  </li>
                <% end %>
              <% end %>
              <li>
                <%= link_to 'Add Child', new_user_child_path(current_user), class: 'btn' %>
                <i class='fa fa-lg fa-plus'></i>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="content-main">
          <div class='children'>
            <h3>Child's Development Score</h3>
          </div>

          <div class="curated-components-div">
            <div class="component">
              <%= image_tag 'analytical.png' %>
              <div class='title'>ANALYTICAL</div>
              <div class='activities-count'><%= @analytical_count %> Classes</div>
            </div>

            <div class="component">
              <%= image_tag 'intellectual.png' %>
              <div class='title'>INTELLECTUAL</div>
              <div class='activities-count'><%= @intellectual_count %> Classes</div>
            </div>

            <div class="component">
              <%= image_tag 'logical.png' %>
              <div class='title'>LOGICAL</div>
              <div class='activities-count'><%= @logical_count %> Classes</div>
            </div>

            <div class="component">
              <%= image_tag 'physical.png' %>
              <div class='title'>PHYSICAL</div>
              <div class='activities-count'><%= @physical_count %> Classes</div>
            </div>

            <div class="component">
              <%= image_tag 'creativity.png' %>
              <div class='title'>CREATIVITY</div>
              <div class='activities-count'><%= @creativity_count %> Classes</div>
            </div>

            <div class="component">
              <%= image_tag 'artistic.png' %>
              <div class='title'>ARTISTIC</div>
              <div class='activities-count'><%= @artistic_count %> Classes</div>
            </div>

            <div class="component">
              <%= image_tag 'memory.png' %>
              <div class='title'>MEMORY</div>
              <div class='activities-count'><%= @memory_count %> Classes</div>
            </div>
          </div>

          <% if @klasses.present? %>
            <table class="table table-responsive-block curated-schedule-table">
              <thead>
                <tr>
                  <th>Partner</th>
                  <th>Activities</th>
                  <th>Development Points</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @klasses.each do |klass| %>
                  <tr>
                    <td>
                      <div class='klass-image'>
                        <%= image_tag klass.partner.logo.url %>
                      </div>
                    </td>
                    <td class='activity'>
                      <div class='klass-name'>
                        <b><%= klass.name %></b>
                      </div>
                      <!-- <div class='klass-activity-name'>
                        <span class='label'><%= klass.activity.name %></span>
                        <span class='label'><%= klass.level %></span>
                        <span class='label'><%= klass.gender.titleize %></span>
                      </div> -->
                      <div class='partner-name'>
                        <%= klass.partner.company %>
                      </div>

                      <div class='timestamp'>

                        <%= klass.schedules.specific_activity(klass.activity.id).sort_by_datetime_asc.not_archived.first.starts_at.strftime('%e-%b %Y (%a)') %>
                        <br>
                        <%= klass.schedules.specific_activity(klass.activity.id).sort_by_datetime_asc.not_archived.first.starts_at.strftime('%l:%M %p') %>
                        -
                        <%= klass.schedules.specific_activity(klass.activity.id).sort_by_datetime_asc.not_archived.first.ends_at.strftime('%l:%M %p') %>

                         <!-- Suitable Age: <%= klass.age_start %> - <%= klass.age_end %> -->
                      </div>
                    </td>
                    <td class='txt-align-center'>
                      <% if klass.development_elements.present? %>
                        <% klass.klass_elements.each do |klass_element| %>
                          <div class='development-elements'>
                            <div class='element-img'>

                              <%= image_tag "#{klass_element.development_element.title.downcase}.png" %>
                            </div>
                            <div class='element-title'>
                              <strong><%= klass_element.development_element.title %></strong>
                              <div class='element-point'><%= klass_element.points %> Points</div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <% if @child.subscription.blank? %>
                        <%= link_to 'Join Us', new_child_subscription_path(@child), class: 'gp-button btn btn-red', target: '_blank' %>
                      <% else %>
                        <%= link_to 'Book', partner_path(klass.partner, klass: klass.id), class: 'gp-button btn btn-red', target: '_blank' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p class="text-center">No activity found.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
