- provide(:title, "Edit child")
- provide(:page_title_bg, asset_path('background-footer.jpg'))
.content.profile-page
  = render partial: 'layouts/page_title', locals: { page_title: 'Edit Child' }
  .container
    .row
      .col-md-3
        - @children = current_user.children.sort_by_age_name
        = render :partial => 'users/sidebar'
      .col-md-9
        .content-main
          %h3.form-section-title
            Update Child Profile

          = form_for [@user, @child], html: { class: 'edit-profile-form form-container form-horizontal' } do |f|
            = render 'form', f: f
            .margin-five.clearfix
              = link_to 'Delete', [@user, @child], method: :delete, |
                data: { confirm: "Remove #{@child.first_name}?" },  |
                class: "pull-left underline padding-two"            |
              = f.submit "Update", class: "form-submit-btn gp-button pull-right"
