<% provide(:title, "Add Child") %>
<% provide(:page_title_bg, asset_path('page-bg-dashboard.jpg')) %>

<div class="content dashboard-page">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Add A Child' } %>
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12" id="main">
        <div class='content-main'>

          <div id="add-child-container">
            <h3>Add Child</h3>


            <section class="container addchild-div">
              <%= form_for @child, url: user_children_url(current_user), html: { id: 'add-child-form' } do |f| %>

                <div class="form-group col-sm-6">
                  <%= f.label 'First Name', class: "control-label" %>
                  <%= f.text_field :first_name, class: 'form-control', required: true %>
                </div>
                <div class="form-group col-sm-6">
                  <%= f.label 'Last Name', class: "control-label" %>
                  <%= f.text_field :last_name, class: 'form-control', required: true %>
                </div>

                <div class="row">
                  <div class="form-group col-sm-12">
                    <div class="form-group col-sm-6">
                      <%= f.label 'Gender', class: "control-label" %>
                      <%= f.select :gender, [['Male', 'male'], ['Female', 'female']], { include_blank: true, required: true }, class: 'form-control' %>
                    </div>

                    <div class="form-group col-sm-6">
                      <%= f.label 'Birth Year', class: "control-label" %>
                      <%= f.select :birth_year, (Date.current.year - 17)..(Date.current.year - 3), {}, {class: "form-control required"} %>
                    </div>
                  </div>
                </div>
                <div id='add-child-status'></div>
              <% end %>
              <div class="clearfix"></div>
            </section>

            <h3>Child Assessment</h3>
            <section class="container assessement-div">
              <% if @questions.present? %>
                <% @questions.each do |question| %>
                  <div class='questions-div'>
                    <div class='individual'>
                      <p class='text-extra-large txt-align-center'>
                        <%= question.title %> My child is easily distracted when doing something that he or she isn't interested in
                      </p>
                      <div class='txt-align-center'>

                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary answer-btn gp-button" data-brain="<%= yes_btn_data(question) %>">
                            <%= image_tag 'yes.png', width: '85' do %>
                            <% end %>
                            <input type="radio" name="options[]" autocomplete="off" value="<%= yes_btn_data(question) %>">
                          </label>
                          <label class="btn btn-primary answer-btn gp-button" data-brain="<%= no_btn_data(question) %>">
                            <%= image_tag 'no.png', width: '85' do %>
                            <% end %>
                            <input type="radio" name="options[]" autocomplete="off" value="<%= no_btn_data(question) %>">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </section>

            <h3>Complete</h3>
            <section class="container assessement-div">
              <div id="complete-redirect" class="hide">
                <div class="info">
                  <h2>
                    Welcome To GeniusPass
                  </h2>
                  <p>
                    GeniusPass is the first membership created exclusively for children to provide them unlimited access to variety of top studios and facilities. One single pass that is going to transform the lifestyle of children to a brighter future generation.
                  </p>

                  <%= link_to 'View Latest Activities Schedules', schedules_path, class: 'btn redirect-btn' %>
                </div>
              </div>

              <div id="child_info_div" class="hide">
                <div class='brain-img'>
                  <%= image_tag 'brain-assessment-test.png', width: '400', height: '150' %>
                </div>

                <div class="brain-result">
                  <span id='left-brain-percent'></span>
                  <span id='right-brain-percent'></span>
                </div>

                <div class="info">
                  <p>
                    Your child is a <strong class='brain-result-text'>60% left</strong><strong> Brain Person </strong>.
                  </p>
                  <p class='text-extra-large'>
                    GeniusPass empowers equal development for both sides of brain. Hence, our team have curate the best activities for your kid!
                  </p>
                  <p>
                    <%= link_to 'PERSONALISED ACTIVITIES', curated_schedules_path, class: 'btn redirect-btn', id: 'curated-child-btn' %>
                  </p>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

