- provide(:title, "Dashboard")
- provide(:nav_color, "link-white")
- provide(:page_title_bg, asset_path('page-bg-child.jpg'))
.content.subscribe-page
  = render partial: 'layouts/page_title', locals: { page_title: 'Subscribe' }
  = render 'shared/notice', locals: { flash: flash } if flash.present?
  .container
    .row
      /.col-md-3.hide-for-small
      /  = render :partial => 'users/sidebar'
      .col-md-12
        .content-main
          %h3 Subscribe
          .profile-details-panel.panel
            .panel-heading
              %h3
                Subscribe for
                %span= @child.full_name

            .panel-body
              %p
                %strong First name:
                = @child.first_name
              %p
                %strong Last name:
                = @child.last_name
              %p
                %strong Age:
                = @child.age
                years
            - if @subscription.present? && @subscription.status
              %p
                %strong Subscribed Plan
              %ol
                - plan = @subscription
                %li
                  = link_to plan.plan_id, child_subscription_path(@child, plan)
                  \-
                  \#{plan.subscriped_on}
                  %label.label.label-success= plan.print_status
                  = link_to 'Unsubscribe', child_subscription_path(@child, plan), method: :delete, data: { confirm: "Are you sure?" } if plan.status
            - else
              .panel-footer
                = link_to "Edit", edit_user_child_path(current_user, @child), :class => "gp-button"
                = link_to @subscription.present? ? "Subscribe for new Plan" : "Subscribe Now", new_child_subscription_path(@child), class: 'gp-button'
