= render 'shared/error_messages', object: f.object
.field
  = f.label :company
  = f.text_field :company
.field
  = f.label :phone
  = f.text_field :phone
.field
  = f.label :email
  = f.email_field :email
.field
  = f.label :user_allowed
  = f.text_field :user_allowed
.field
  = f.label :address
  = f.text_area :address, rows: 3
.field
  = f.label :city_id, class: "display-block"
  = collection_select(:partner, :city_id, City.order(:name), :id, :name)
.field
  = f.label :state, class: "display-block"
  = f.select :state, Partner::STATES
.field
  = f.label :logo, class: "display-block"
  = f.file_field :logo

.field
  = f.label :Picture, "Picture Link"
  = f.text_field :img_url, placeholder: "http://"
  %small Before uploading a picture, make sure to compress the filesize to be less than 150KB for better loading time.
