<%= render 'shared/error_messages', object: f.object %>

<div class="field">
  <%= f.label :company %>
  <%= f.text_field :company %>
</div>
<div class="field">
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>
<div class="field">
  <%= f.label :address %>
  <%= f.text_area :address, rows: 3 %>
</div>
<div class="field">
  <%= f.label :city_id, class: "display-block" %>
  <%= collection_select(:partner, :city_id, City.order(:name), :id, :name) %>
</div>
<div class="field">
  <%= f.label :state, class: "display-block" %>
  <%= f.select :state, Partner::STATES %>
</div>
<div class="field">
  <%= f.label :Picture, "Picture Link" %>
  <%= f.text_field :img_url, placeholder: "http://" %>
  <small>Before uploading a picture, make sure to compress the filesize to be less than 150KB for better loading time.</small>
</div>
