<div class="content-main">
  <div class="studio-top">
    <div class="studio-image" style="background-image: url(<%= @partner.img_url %>);"></div>
    <div class="studio-info">
      <h1 class="studio-name"><%= @partner.company %></h1>
      <% if @partner.klasses.maximum(:reservation_limit).to_i > 0 %>
        <span class="studio-description">
          Up to <%= @partner.klasses.maximum(:reservation_limit) %> visits per month
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="content-main visible-xs">
  <div class="studio-map">
    <a href="https://www.google.com/maps/place/Seksyen+16,+40200+Shah+Alam,+Selangor/">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=Seksyen+16,+40200+Shah+Alam,+Selangor&zoom=14&scale=1&size=350x300&maptype=roadmap&format=png&visual_refresh=true">
    </a>
  </div>
  <div class="studio-details">
    <%= render 'info' %>
  </div>
</div>

<div class="content-main">
  <div class="studio-listing">
    <h3>Upcoming Activities</h3>
    <%= render 'schedules' %>
  </div>
</div>
