- if @schedules.present?
  %table.table.table-responsive-block.schedule-table
    %thead
      %tr
        %th Date
        %th Activity
        %th Outlet
        %th Time
        %th Age
        %th Difficulty
        %th.text-center Availability
    %tbody
      - @schedules.each do |schedule|
        %tr
          %td.date-col{"data-title" => "Date"}= schedule.starts_at.strftime("%d %b %Y")
          %td.activity-col{"data-title" => "Activity"}= schedule.klass.name
          %td.outlet-col{"data-title" => "Outlet"}= schedule.city.name
          %td.time-col{"data-title" => "Time"}
            = format_time(schedule.starts_at)
            to #{format_time(schedule.ends_at)}
          %td.age-col{"data-title" => "Age"}
            = "#{schedule.klass.age_start} - #{schedule.klass.age_end}"
          %td.difficulty-col{"data-title" => "Difficulty"}
            = schedule.klass.level if schedule.klass
          %td.availability-col{"data-title" => "Availability"}= reserve_button(schedule)
- else
  %p.text-center.margin-five-top No upcoming activities in the meantime.
