<% provide(:title, 'Edit partner') %>

<h1>Edit Partner</h1>

<%= form_for(@partner) do |f| %>

  <%= render 'form', f: f %>

  <div class="actions">
    <%= link_to "Cancel", admin_partner_path(@partner) %>
    <%= f.submit "Update" %>
  </div>
<% end %>

<br>
<%= link_to "Delete partner", @partner, method: :delete,
    data: { confirm: "Delete partner <#{@partner.company}>?" } %>
