<% provide(:title, "Partners") %>

<%= render 'layouts/nav' %>
<%= render partial: 'layouts/page_title', locals: { page_title: 'Partners' } %>

<section class="padding-four">
  <div class="container">
    <div class="row">
      <% @partners.each do |partner| %>
        <div class="col-md-4 col-sm-4 margin-four-bottom">
          <div class="blog-post">
            <div class="blog-post-images">
              <%= link_to image_tag(partner.img_url, alt: "photo of #{partner.company}"), partner %>
            </div>
            <div class="post-details">
              <%= link_to partner.company, partner, class: "post-title margin-one no-margin-bottom" %>
              <p class="no-padding-top text-s-medium"><%= partner.klasses.map { |klass| klass.name }.join(", ") %></p>
              <span class="post-author"><%= partner.city.name %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
