- provide(:title, "Partners")
- provide(:nav_color, "link-white")
= render 'page_title'
%section#partner-list
  .container
    .row
      .partner-grid
        - @partners.each do |partner|
          .partner-grid-item
            .image
              = link_to image_tag(partner.img_url, alt: "photo of #{partner.company}"), partner
            .partner-grid-details
              = link_to partner.company, partner, class: "title"
              .activity
                - partner.activities.uniq.each do |activity|
                  %span= activity.name
              %span.city= partner.city.name
              - if partner.booking_limit.to_i > 0
                %span.limit
                  Up to #{partner.booking_limit} visits per month
