<% provide(:title, "Partners") %>
<% provide(:nav_color, "link-white") %>

<%= render 'page_title' %>

<section id="partner-list">
  <div class="container">
    <div class="row">
      <div class="partner-grid">
        <% @partners.each do |partner| %>
          <div class="partner-grid-item">
            <div class="image">
              <%= link_to image_tag(partner.img_url, alt: "photo of #{partner.company}"), partner %>
            </div>
            <div class="partner-grid-details">
              <%= link_to partner.company, partner, class: "title" %>
              <div class="activity">
                <% partner.activities.uniq.each do |activity| %>
                  <span><%= activity.name %></span>
                <% end %>
              </div>
              <span class="city"><%= partner.city.name %></span>
              <% if partner.booking_limit.to_i > 0 %>
                <span class="limit">Up to <%= partner.booking_limit %> visits per month</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
