<% provide(:title, "Partners") %>

<%= render 'layouts/nav' %>
<%= render partial: 'layouts/page_title', locals: { page_title: 'Partners' } %>

<section id="partner-list" class="padding-two">
  <div class="container">
    <div class="row">
      <div class="partner-grid">
        <% @partners.each do |partner| %>
          <div class="partner-grid-item">
            <%= link_to image_tag(partner.img_url, alt: "photo of #{partner.company}"), partner %>
            <%= link_to partner.company, partner, class: "title" %>
            <p class="address"><%= partner.address %></p>
            <div class="activity">
              <% partner.activities.uniq.each do |activity| %>
                <span><%= activity.name %></span>
              <% end %>
            </div>
            <span class="city"><%= partner.city.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
