<% provide(:title, @partner.company) %>

<%= render 'layouts/nav' %>
<%= render 'hero' %>

<section class="padding-two">
  <div class="container">
    <div class="row">
      <% if @schedules.present? %>
        <table class="table table-cell-center">
          <thead>
            <tr>
              <th>Date</th>
              <th>Activity</th>
              <th>Time</th>
              <th>Level</th>
              <th>Age</th>
              <th>Availability</th>
            </tr>
          </thead>
          <tbody>
            <% @schedules.each do |schedule| %>
              <tr>
                <td><%= schedule.starts_at.strftime("%d %b %Y") %></td>
                <td><%= schedule.klass.name if schedule.klass %></td>
                <td>
                  <%= schedule.starts_at.strftime("%l:%M%P") %> —
                  <%= schedule.ends_at.strftime("%l:%M%P") %>
                </td>
                <td><%= schedule.klass.level if schedule.klass %></td>
                <td><%= schedule.klass.age_start %>-<%= schedule.klass.age_end %></td>
                <td><%= reserve_button(schedule) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No current activities in the meantime.</p>
      <% end %>
    </div>
  </div>
</section>
