<% provide(:title, 'Admin') %>

<p id="notice"><%= notice %></p>

<h3>City <span><%= link_to "[+]", new_city_path %></span></h3>
<ul>
  <% @cities.each do |city| %>
    <li><%= link_to city.name, edit_city_path(city) %></li>
  <% end %>
</ul>

<h3>Partners <span><%= link_to "[+]", new_partner_path %></span></h3>
<ul>
  <% @partners.each do |partner| %>
    <li>
      <%= link_to partner.company, partner_path(partner) %>
      [<%= link_to "edit", edit_partner_path(partner) %>]
    </li>
  <% end %>
</ul>
