<% provide(:title, "Admin Profile") %>

<div class="container">
  <div class="row">
    <div class="col-md-5 center-col">

      <h1 class="title-font-300 text-center margin-five">
        <%= resource_name.to_s.humanize %> Profile
      </h1>

      <%= form_for(resource, as: resource_name, url: admin_registration_path(resource),
            html: { method: :patch }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <br>
        <div class="field margin-five-top">
          <%= f.label :current_password %> <i>(input your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="margin-five">
          <%= f.submit "Update", class: primary_button_small %>
        </div>
      <% end %>
    </div>
  </div>
</div>
