<table class="table table-condensed table-striped th-border-unset text-13px">
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Class</th>
      <th class="text-center">Time</th>
      <th class="text-center">Class Size</th>
      <th class="text-center">Reservations</th>
      <th class="text-center">Archived?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.starts_at.strftime("%d %b %Y") %></td>
        <td><%= schedule.klass.name if schedule.klass %></td>
        <td class="text-center"><%= schedule.starts_at.strftime("%l:%M%P") if schedule.starts_at %>
        — <%= schedule.ends_at.strftime("%l:%M%P") if schedule.ends_at %></td>
        <td class="text-center"><%= schedule.quantity %></td>
        <td class="text-center <%= neutralize_color_if((schedule.archived)) %>">
          <%= reservation_count(schedule.reservations.size) %>
        </td>
        <td class="text-center"><%= archived?(schedule.archived) %></td>
        <td><%= link_to "view", admin_schedule_path(schedule), class: "pull-right" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
