<div class="row">
  <div class="col-md-12">
    <h1><%= link_to @partner.company, admin_partner_path(@partner), class: "underline-hover" %></h1>
    <small>
      <% if @partner.phone.present? %>
        #<span class="padding-left-right-px"><%= @partner.phone %></span>
      <% end %>
      #<span class="padding-left-right-px">
        <%= @partner.address %>, <%= @partner.city.name %>, <%= @partner.state %>
      </span>
      — <%= link_to "edit", edit_partner_path(@partner), class: "link-underline" %>
    </small>
  </div>
</div>
