.row
  .col-md-12
    %h1= link_to @partner.company, partner_path(@partner), target: "_blank", |
        class: "underline-hover"                                            |
    %small
      - if @partner.phone.present?
        \#
        %span.padding-left-right-px= @partner.phone
      \#
      %span.padding-left-right-px
        = @partner.address
        , #{@partner.city.name}, #{@partner.state}
      — #{link_to "edit", edit_partner_path(@partner), class: "underline"}
