%table.table.table-condensed.table-striped.th-border-unset.text-13px.link-underline
  %thead
    %tr
      %th Schedule
      %th Class
      %th.text-center Time
      %th.text-center Class Size
      %th.text-center Reservations
      %th.text-center Reccurances
      %th.text-center Deactivated?
      %th
  %tbody
    - @schedules.each do |schedule|
      %tr
        %td= schedule.starts_at.strftime("%d %b %Y")
        %td= schedule.klass.name if schedule.klass
        %td.text-center
          = schedule.starts_at.strftime("%l:%M%P") if schedule.starts_at
          — #{schedule.ends_at.strftime("%l:%M%P") if schedule.ends_at}
        %td.text-center= schedule.quantity
        %td{:class => "text-center #{neutralize_color_if((schedule.archived))}"}
          = reservation_count(schedule.reservations.size)
        %td.text-center= archived?(schedule.archived)
        %td.text-center= schedule.recurrence
        %td= link_to "view", admin_schedule_path(schedule), class: "pull-right"
