<% provide(:title, @partner.company) %>

<section class="no-padding-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= link_to @partner.company, partner_path(@partner),
                target: "_blank", class: "underline-hover" %></h1>
        <small>
          <% if @partner.phone.present? %>
            #<span class="padding-left-right-px"><%= @partner.phone %></span>
          <% end %>
          #<span class="padding-left-right-px"><%= @partner.address %>, <%= @partner.city.name %>, <%= @partner.state %></span>
          — <%= link_to "edit", edit_partner_path(@partner), class: "link-underline" %>
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed margin-four">
          <thead>
            <tr>
              <th>Class</th>
              <th>Activity</th>
              <th>Age</th>
              <th>Level</th>
              <th>Description</th>
              <th><%= link_to "+ add", new_partner_klass_path(@partner), class: "pull-right" %></th>
            </tr>
          </thead>
          <tbody>
            <% @klasses.each do |klass| %>
              <tr>
                <td><%= klass.name %></td>
                <td><%= klass.activity.name %></td>
                <td><%= klass.age_start %>-<%= klass.age_end %></td>
                <td><%= klass.level %></td>
                <td><%= klass.description.truncate(80, separator: ' ') %></td>
                <td><%= link_to "edit", edit_partner_klass_path(@partner, klass),
                        class: "pull-right link-underline" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <% if @klasses.present? %>
      <div class="row">
        <div class="col-md-7">
          <% if @schedules.present? %>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th></th>
                  <th>Schedule</th>
                  <th>Class</th>
                  <th class="text-center">Time</th>
                  <th class="text-center">Class Size</th>
                  <th><%= link_to "+ add", new_partner_schedule_path(@partner), class: "pull-right" %></th>
                </tr>
              </thead>
              <tbody>
                <% @schedules.each do |schedule| %>
                  <tr>
                    <td><%= link_to 'X', partner_schedule_path(@partner, schedule),
                            method: :delete, data: { confirm: "Delete schedule?" } %></td>
                    <td><%= schedule.date.strftime("%d %b %Y") %></td>
                    <td><%= schedule.klass.name if schedule.klass %></td>
                    <td class="text-center"><%= schedule.start_time.strftime("%l:%M%P") %> - <%= schedule.end_time.strftime("%l:%M%P") %></td>
                    <td class="text-center"><%= schedule.quantity %></td>
                    <td><%= link_to 'edit', edit_partner_schedule_path(@partner, schedule),
                            class: "pull-right link-underline" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
