- provide(:title, @partner.company)
%section.no-padding-section
  .container
    = render 'partner_info'
    = tabs
    .row
      .col-md-10
        - if @partner.klasses.present? && @schedules.present?
          .margin-two-bottom
            = link_to "+ Add a schedule", new_partner_schedule_path(@partner), class: "green-text"
          = render 'partner_schedules'
        - elsif @partner.klasses.present? && @schedules.empty?
          = link_to "+ Add a schedule", new_partner_schedule_path(@partner), class: "green-text"
        - else
          %p
            Looks like you don't have any class created.
            \#{link_to "Create", new_partner_klass_path(@partner), class: "green-text"} one first.
