<% provide(:title, @partner.company) %>

<p id="notice"><%= notice %></p>

<h2>
  <%= link_to @partner.company, partner_path(@partner), target: "_blank" %>
  <%= link_to "[edit]", edit_partner_path(@partner) %>
</h2>

<div>
  Address: <%= @partner.address %>, <%= @partner.city.name %>, <%= @partner.state %><br>
  Phone: <%= @partner.phone %>
</div>

<h3>Class <span><%= link_to "+add", new_partner_klass_path(@partner) %></span></h3>
<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Age</th>
      <th>Level</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= link_to klass.name, edit_partner_klass_path(@partner, klass) %></td>
        <td><%= klass.age_start %>-<%= klass.age_end %></td>
        <td><%= klass.level %></td>
        <td><%= klass.description.truncate(30, separator: ' ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @klasses.present? %>
  <h3>Schedules <span><%= link_to "+add", new_partner_schedule_path(@partner) %></span></h3>
<% end %>

<% if @schedules.present? %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Class</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Level</th>
        <th>No. of students</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= link_to 'X', partner_schedule_path(@partner, schedule),
                  method: :delete, data: { confirm: "Delete schedule?" } %></td>
          <td><%= schedule.date.strftime("%d %b %Y") %></td>
          <td><%= schedule.klass.name if schedule.klass %></td>
          <td><%= schedule.start_time.strftime("%l:%M%P") %></td>
          <td><%= schedule.end_time.strftime("%l:%M%P") %></td>
          <td><%= schedule.klass.level if schedule.klass %></td>
          <td><%= schedule.quantity %></td>
          <td><%= link_to 'Edit', edit_partner_schedule_path(@partner, schedule) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
