- provide(:title, "Past Schedules - #{@partner.company}")
%section.no-padding-section
  .container
    = render 'partner_info'
    = tabs
    .row
      .col-md-10
        - if @partner.klasses.present? && @schedules.present?
          = render 'partner_schedules'
        - elsif @partner.klasses.present? && @schedules.empty?
          %p No schedule found.
        - else
          %p
            Looks like you don't have any class created.
            \#{link_to "Create", new_partner_klass_path(@partner), class: "green-text"} one first.
