- provide(:title, "Users")
%section.padding-one
  .container
    .row
      %h1.title-large.text-center.margin-five-bottom Users
      .col-md-12.center-col
        - if @users.empty?
          %p.text-center No users found.
        - else
          %table.table.table-condensed.table-striped.th-border-unset
            %thead
              %tr
                %th ID
                %th Name
                %th Email
                %th Location
                %th Date Sign Up
                %th Last Login
                %th Children 
                %th Action
            %tbody.link-underline
              - @users.each do |user|
                %tr
                  %td= user.customer_id
                  %td= user.name
                  %td= user.email
                  %td= user.location
                  %td= user.created_at.strftime("%d %b %Y")
                  %td= user.last_sign_in_at.strftime("%d %b %Y") if user.last_sign_in_at
                  %td
                    %table.table-bordered
                      %thead
                        %tr
                          %td Name
                          %td Age
                          %td Subscription
                          %td Type
                      %tbody
                        - user.children.each do |child|
                          %tr
                            %td= child.full_name
                            %td= child.age
                            %td= child.subscription.try("subscription_type").try("name")
                            %td= child.subscription.try("promo_code")
                  %td= link_to 'delete', admin_destroy_user_path(user), method: :delete, |
                      data: { confirm: "Delete this user?" }, class: "delete"           |
