Hi Admin,
</p>
<p>
  Here is the detail of new registration of partner
</p>

<p>
  City: <%= @partnership.city %>
  <br>
  Company Name: <%= @partnership.company_name %>
  <br>
  Website: <%= @partnership.website %>
  <br>
  Name: <%= @partnership.name %>
  <br>
  Email: <%= @partnership.email %>
  <br>
  Phone: <%= @partnership.phone %>
  <br>
  Address: <%= @partnership.address %>
  <br>
  Comments: <%= @partnership.comments %>
  <br>
</p>
