<div class="content-main">
  <!-- tab
  -->
  <div class="activity-tab">
    <!-- tab navigation
    -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tab3_sec1">Upcoming Activities</a>
      </li>
      <li>
        <a data-toggle="tab" href="#tab3_sec2">Past Activities</a>
      </li>
      <li>
        <%= link_to 'Personalize Activities', curated_child_path(@child_id), target: "_blank" %>
      </li>
      <li>
        <%= link_to 'Genius Track', achievements_children_path, target: "_blank" %>
      </li>
    </ul>
    <!-- end tab navigation
    -->
    <!-- tab content section
    -->
    <div class="tab-content">
      <!-- tab content
      -->
      <div class="tab-pane fade active in" id="tab3_sec1">
        <% if @current_reservations.empty? %>
          <div class="empty-content">
            <%= link_to schedules_path do %>
              <i class="fa fa-plus"></i>
            <% end %>
            <h3>This child does not have activity reservation at the moment</h3>
            <p>
              Explore new activities in <%= link_to "schedule", schedules_path, class: "underline" %> section!
            </p>
          </div>
        <% else %>
          <%= render 'reservations', reservations: @current_reservations %>
        <% end %>
      </div>
      <!-- end tab content
      -->
      <!-- tab content
      -->
      <div class="tab-pane fade" id="tab3_sec2">
        <% if @past_reservations.empty? %>
          <div class="empty-content">
            <h3>Looks like you don't have any past reservations.</h3>
          </div>
        <% else %>
          <%= render 'reservations', reservations: @past_reservations %>
        <% end %>
      </div>
      <!-- end tab content
      -->
    </div>
    <!-- end tab content section
    -->
  </div>
  <!-- end tab
  -->
</div>
