<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Time</th>
      <th>Activity</th>
      <th>Studio</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="text-13px">
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.child.first_name %></td>
        <td><%= reservation.schedule.date.strftime("%d %b %Y") %></td>
        <td>
          <%= reservation.schedule.start_time.strftime("%l:%M%P") %> -
          <%= reservation.schedule.end_time.strftime("%l:%M%P") %>
        </td>
        <td><%= link_to reservation.schedule.klass.name, schedule_path(reservation.schedule),
                class: "link-underline" %></td>
        <td><%= link_to reservation.schedule.partner.company, partner_path(reservation.schedule.partner),
                class: "link-underline"%></td>
        <td><%= reservation.schedule.city.name %></td>
        <td><%= link_to 'X', schedule_reservation_path(reservation.schedule, reservation),
                method: :delete, data: { confirm: "Cancel reservation for class #{reservation.schedule.klass.name} on #{reservation.schedule.date.strftime("%d %b %Y")} (#{reservation.schedule.start_time.strftime("%l:%M%P")}) for #{reservation.child.first_name} ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
