<table class="table table-condensed table-cell-center">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Time</th>
      <th>Activity</th>
      <th>Studio</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="text-13px">
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.child.first_name %></td>
        <td><%= reservation.schedule.starts_at.strftime("%-d %b %Y") %></td>
        <td>
          <%= reservation.schedule.starts_at.strftime("%l:%M%P") %> -
          <%= reservation.schedule.ends_at.strftime("%l:%M%P") %>
        </td>
        <td><%= reservation.schedule.klass.name %></td>
        <td>
          <%= link_to reservation.schedule.partner.company, partner_path(reservation.schedule.partner),
                class: "link-underline"%>
        </td>
        <td><%= reservation.schedule.city.name %></td>
        <td>
          <%= link_to "view", new_schedule_reservation_path(reservation.schedule),
                class: "link-underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
