<div class='content-sidebar'>

  <div class="sidebar-widget">
    <div class='reward-points-div'>
      <h3>
        <%= image_tag 'geniustrack.png', width: '100' %>
        <br>
        Genius Points
      </h3>
<!--       <div class='point-amount'><%= current_user.reward_points %></div>
      <div class='point-label'>Points</div>
 -->
 <!--
      <%= link_to "Track Points", achievements_children_path, class: "gp-button" %> -->
      <strong>Total: <%= current_user.reward_points %> Points</strong>
      <% if @info.reward_section? %>
        <%= link_to "View All Rewards", rewards_path, class: "" %>
      <% end %>
    </div>
  </div>

  <% unless action_name == 'achievements' %>
    <div class='sidebar-children'>
      <div class='children-list'>
        <ul class="nav">
          <li>
            <%= link_to 'Add Child', new_user_child_path(current_user), class: 'btn' %>
            <i class='fa fa-lg fa-plus'></i>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>