<table class="table table-condensed">
  <thead>
    <tr>
      <th>Children</th>
      <th><%= link_to "+ add", new_user_child_path(current_user), class: "pull-right green-text" %></th>
    </tr>
  </thead>
  <tbody class="text-13px link-underline">
    <% @children.each do |child| %>
      <tr>
        <td><%= link_to child.first_name, child_path(child) %></td>
        <td class="pull-right">
          <%= age(child) %>
          <%= link_to edit_user_child_path(current_user, child) do %>
            Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
          View Refer Link
        </button>
      </th>
    </tr>
  </thead>
</table>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Your Refer Link</h4>
      </div>
      <div class="modal-body">
        <%= link_to "#{root_url}reference/#{current_user.promo_code}", '#' %><br/>
        <%= link_to "Share", '#', class: 'btn btn-success btn-lg' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
