<% provide(:title, "Welcome Onboard") %>
<% provide(:page_title_bg, asset_path('background-footer.jpg')) %>

<div class="content dashboard-page">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Welcome To GeniusPass' } %>
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12" id="main">
        <div class='content-main'>

          <div id="onboard-container">
            <h3>Brain Assessment Test</h3>
            <section class="container curation-div txt-align-center">
              <%= image_tag 'brain-assessment-test.png', width: '400', height: '150' %>
              <p class='text-extra-large'>
                Is your kid a left or right brain person? GeniusPass Intelligence System would like to find out by presenting few questions. Then, our team will curate the best activities and classes for your kid in your neighbourhood!
              </p>
            </section>

            <h3>Add Child</h3>
            <section class="container addchild-div">
              <div class="col-sm-12">
                <p>
                <b>* Please ensure you insert your child's details correctly.</b>
                </p>
              </div>
              <%= nested_form_for current_user, url: add_child_user_url(current_user), html: { id: 'add-child-form' } do |f| %>

                <%= f.fields_for :children do |ip| %>
                  <div class="form-group col-sm-6">
                    <%= ip.label 'Name', class: "control-label" %>
                    <%= ip.text_field :fullname, class: 'form-control', required: true %>
                  </div>

                  <div class="form-group col-sm-4">
                    <%= ip.label 'Gender', class: "control-label" %>
                    <%= ip.select :gender, [['Male', 'male'], ['Female', 'female']], { include_blank: true, required: true }, class: 'form-control' %>
                  </div>

                  <div class="form-group col-sm-4">
                    <%= ip.label 'Birth Year', class: "control-label" %>
                    <%= ip.select :birth_year, (Date.current.year - 17)..(Date.current.year - 3), {}, {class: "form-control required"} %>
                    <%= ip.hidden_field :id %>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-12">
                      <!-- <div class="form-group col-sm-12">
                        <%= ip.link_to_remove "Remove this child" %>
                      </div> -->
                    </div>
                  </div>
                <% end %>
                <div id='add-child-status'></div>
                <!--
                  <%= f.link_to_add "Add Child", :children, class: 'btn gp-button pull-right' %>
                -->
              <% end %>
              <div class="clearfix"></div>
            </section>

            <h3>Child Assessment</h3>
            <section class="container assessement-div">
              <% if @questions.present? %>
                <div class="questions progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class='percentage'>0%</span>
                    <!-- <span class="sr-only">40% Complete (success)</span> -->
                  </div>
                </div>
                <% @questions.each_with_index do |question, index| %>
                  <div class='questions-div' id="question-<%= index + 1 %>">
                    <div class='individual'>
                      <p class='text-extra-large txt-align-center'>
                        <%= question.title %>
                      </p>
                      <div class='txt-align-center'>

                        <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary answer-btn gp-button" data-brain="<%= yes_btn_data(question) %>">
                            <%= image_tag 'yes.png', width: '85' do %>
                            <% end %>
                            <input type="radio" name="options[]" autocomplete="off" value="<%= yes_btn_data(question) %>">
                          </label>
                          <label class="btn btn-primary answer-btn gp-button" data-brain="<%= no_btn_data(question) %>">
                            <%= image_tag 'no.png', width: '85' do %>
                            <% end %>
                            <input type="radio" name="options[]" autocomplete="off" value="<%= no_btn_data(question) %>">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </section>

            <h3>Complete</h3>
            <section class="container assessement-div">
              <div id="complete-redirect" class="hide">
                <div class="info">
                  <h2>
                    Welcome To GeniusPass
                  </h2>
                  <p>
                    GeniusPass is the first membership created exclusively for children to provide them unlimited access to variety of top studios and facilities. One single pass that is going to transform the lifestyle of children to a brighter future generation.
                  </p>

                  <%= link_to 'View Latest Activities Schedules', schedules_path, class: 'btn redirect-btn' %>
                </div>
              </div>

              <div id="child_info_div" class="hide">
                <div class='brain-img'>
                  <%= image_tag 'brain-assessment-test.png', width: '400', height: '150' %>
                </div>

                <div class="brain-result">
                  <span id='left-brain-percent'></span>
                  <span id='right-brain-percent'></span>
                </div>

                <div class="info">
                  <p>
                    Your child is a <strong class='brain-result-text'>60% left</strong><strong> Brain Person </strong>.
                  </p>
                  <p class='text-extra-large'>
                    GeniusPass empowers equal development for both sides of brain. Hence, our team have curate the best activities for your kid!
                  </p>
                  <p>
                    <%= link_to 'PERSONALISED ACTIVITIES', curated_schedules_path, class: 'btn redirect-btn', id: 'curated-child-btn' %>
                  </p>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

