<% provide(:title, "Dashboard") %>
<% provide(:page_title_bg, asset_path('page-bg-dashboard.jpg')) %>
<div class="content dashboard-page">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Dashboard' } %>
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class='sidebar-children'>
          <div class='children-list'>
            <h3>Child's Name</h3>
            <ul class="nav">

              <% @children = current_user.children %>
              <% if @children.present? %>
                <% @children.each_with_index do |child, index| %>
                  <% if index.zero? && params[:child_id].blank? %>
                    <li class='active'>
                  <% elsif child.id == params[:child_id].to_i %>
                    <li class='active'>
                  <% else %>
                    <li>
                  <% end %>
                    <%= link_to user_path(child_id: child.id), class: 'btn' do %>
                      <%= child.full_name %>
                    <% end %>
                    <i class='fa fa-lg fa-chevron-right'></i>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9" id="main">
        <%= render 'main' %>
      </div>
    </div>
  </div>
</div>
