%h1 Hi

%p
  = @schedule.klass.partner.company
  = @schedule.activity.name
  = @schedule.start_at.to_date
  = #{@schedule.start_at.hour}:#{@schedule.start_at.min}

--------------------

%p
  No of participants #{@schedule.children.count}

  %h3 Childrens
  - @schedule.children.each do |child|
    = #{child.fullname} (#{Time.now.year - child.birth_year.to_i})

