<section class="padding-one">
  <div class="container">
    <div class="row">
      <%= search_form_for @q do |f| %>
        <div class="col-md-3">
          <%= f.label :activity_id_eq, "Activity", class: "no-margin-bottom" %>
          <%= f.collection_select :activity_id_eq, @activities, :id, :name, include_blank: 'All' %>
        </div>
        <div class="col-md-3">
          <%= f.label :city_id_eq, "City", class: "no-margin-bottom" %>
          <%= f.collection_select :city_id_eq, @cities, :id, :name, include_blank: 'All' %>
        </div>
        <div class="col-md-4">
          <label class="display-block no-margin-bottom">Time</label>
          <%= f.time_select :starts_at_gteq, ampm: true, minute_step: 15, default: { hour: '07' },
                with_css_classes: true %>
          <label class="label-in-between">to</label>
          <%= f.time_select :ends_at_lteq, ampm: true, minute_step: 15,
                default: { hour: '23' }, with_css_classes: true %>
        </div>
        <div class="col-md-12">
          <label>Date: </label>
          <label class="radio-select"><%= f.radio_button :starts_at_eq, Date.today %>Today</label>
          <label class="radio-select"><%= f.radio_button :starts_at_eq, Date.tomorrow %>Tomorrow</label>
          <label class="radio-select">
            <%= f.radio_button :starts_at_eq, Date.today + 2 %><%= (Date.today + 2).strftime("%e %b") %>
          </label>
          <label class="radio-select">
            <%= f.radio_button :starts_at_eq, Date.today + 3 %><%= (Date.today + 3).strftime("%e %b") %>
          </label>
          <label class="radio-select">
            <%= f.radio_button :starts_at_eq, Date.today + 4 %><%= (Date.today + 4).strftime("%e %b") %>
          </label>
          <label class="radio-select">
            <%= f.radio_button :starts_at_eq, Date.today + 5 %><%= (Date.today + 5).strftime("%e %b") %>
          </label>
          <label class="radio-select">
            <%= f.radio_button :starts_at_eq, Date.today + 6 %><%= (Date.today + 6).strftime("%e %b") %>
          </label>
        </div>
        <div class="col-md-12 margin-two">
          <%= f.submit "Filter", class: "highlight-button-dark btn btn-small btn-round button" %>
          <%= link_to "Reset", request.path, class: "btn-small-black-border-light btn btn-small btn-round button" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
