<section class="padding-one">
  <div class="container">
    <div class="row">
      <%= search_form_for @q do |f| %>

        <!-- Select menu for choosing an activity -->
        <div class="col-md-2 field">
          <%= f.label :activity_id_eq, "Activity", class: "display-block" %>
          <%= f.collection_select :activity_id_eq, @activities, :id, :name,
              { include_blank: 'All' }, { class: "width-100" } %>
        </div>

        <!-- Select menu for choosing a city -->
        <div class="col-md-2 field">
          <%= f.label :city_id_eq, "City", class: "display-block" %>
          <%= f.collection_select :city_id_eq, @cities, :id, :name,
              { include_blank: 'All' }, { class: "width-100" } %>
        </div>

        <!-- Select menu for choosing a date -->
        <div class="col-md-2 field">
          <label class="display-block">Date</label>
          <%= f.select :start_date_eq, options_for_select([
                ['Today', Time.zone.today],
                ['Tomorrow', Time.zone.tomorrow],
                [(Time.zone.today + 2).strftime("%d %b"), Time.zone.today + 2],
                [(Time.zone.today + 3).strftime("%d %b"), Time.zone.today + 3],
                [(Time.zone.today + 4).strftime("%d %b"), Time.zone.today + 4],
                [(Time.zone.today + 5).strftime("%d %b"), Time.zone.today + 5],
                [(Time.zone.today + 6).strftime("%d %b"), Time.zone.today + 6]
              ], @q.start_date_eq), { include_blank: true }, { class: "width-100" } %>
        </div>

        <div class="col-md-4 field">
          <!-- Select menu for choosing a starting time -->
          <label class="display-block">Time</label>
          <%= f.time_select :start_time_gteq,
                ampm: true, minute_step: 15, default: { hour: '07' },
                with_css_classes: true %>

          <label class="label-in-between">to</label>

          <!-- Select menu for choosing an ending time -->
          <%= f.time_select :end_time_lteq,
                ampm: true, minute_step: 15, default: { hour: '23', minute: '45' },
                with_css_classes: true %>
        </div>

        <!-- Filter & Reset Filter buttons -->
        <div class="col-md-12">
          <%= f.submit "Filter", class: primary_button_small %>
          <%= link_to "Reset", request.path, class: secondary_button_small %>
        </div>

      <% end %>
    </div>
  </div>
</section>
