<%= render 'shared/error_messages', object: f.object %>

<%= f.hidden_field :city_id, value: @partner.city_id %>

<div class="field">
  <%= f.label :klass_id, "Class", class: "display-block" %>
  <%= collection_select(:schedule, :klass_id, @klasses.order(:name), :id, :name) %>
</div>
<div class="field">
  <%= f.label :starts_at, class: "display-block" %>
  <%= f.datetime_select :starts_at, order: [:day, :month, :year], use_short_month: true,
        ampm: true, minute_step: 15 %>
  <%= f.label :ends_at, class: "display-block" %>
  <%= f.datetime_select :ends_at, order: [:day, :month, :year], use_short_month: true,
        ampm: true, minute_step: 15 %>
</div>
<div class="field">
  <%= f.label :quantity, "No. of students" %>
  <%= f.number_field :quantity %>
</div>
