<table class="table table-condensed table-striped th-border-unset">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Studio</th>
      <th>Neighbourhood</th>
      <th class="text-center">Time</th>
      <th class="text-center">Age</th>
      <th class="text-center">Level</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="text-13px link-underline">
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.klass.name %></td>
        <td>
          <%= link_to schedule.partner.company, partner_path(schedule.partner) if schedule.partner %>
        </td>
        <td><%= schedule.city.name if schedule.city %></td>
        <td class="text-center">
          <%= schedule.starts_at.strftime("%l:%M%P") %> —
          <%= schedule.ends_at.strftime("%l:%M%P") %>
        </td>
        <td class="text-center">
          <%= schedule.klass.age_start %> - <%= schedule.klass.age_end %>
        </td>
        <td class="text-center"><%= schedule.klass.level if schedule.klass %></td>
        <td class="text-center">
          <%= link_to 'Reserve', new_schedule_reservation_path(schedule),
              class: primary_button_small_round %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
