<% provide(:title, 'Edit schedule') %>

<h1>Edit Schedule</h1>

<%= form_for [@partner, @schedule] do |f| %>

  <%= render 'form', f: f %>

  <div class="actions">
    <%= link_to "Cancel", admin_partner_path(@partner) %>
    <%= f.submit "Update" %>
  </div>
<% end %>

<br><br>
<%= link_to 'Delete schedule', [@partner, @schedule], method: :delete,
    data: { confirm: "Delete schedule?" } %>
