<% provide(:title, "#{@schedule.klass.name} (#{@schedule.starts_at.strftime("%-d %b %Y")})
                    by #{@schedule.partner.company} at #{@schedule.city.name}") %>

<%= render 'layouts/nav' %>

<section class="padding-seven">
  <div class="container">
    <div class="row">
      <div class="col-md-6 center-col text-center">

        <%= link_to "⇽ back", :back, class: "clearfix" %>

        <%= render 'shared/schedule' %>

        <div class="margin-eight-top">
          <% if Time.zone.now >= (@schedule.starts_at - 6.hours) %>
            <p class="deep-light-gray-text">This schedule can't be reserved anymore.</p>
          <% elsif user_signed_in? && (Time.zone.now < (@schedule.starts_at - 6.hours)) %>
            <%= link_to "Reserve This Class", new_schedule_reservation_path(@schedule), class: primary_button_medium %>
          <% else %>
            <p>Interested to reserve this class for your child?</p>
            <%= link_to "Get GeniusPass Membership", invite_path, class: primary_button_medium %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
