<% provide(:title, "#{@schedule.date.strftime("%d/%-m/%Y")} : #{@schedule.klass.name} class
                    by #{@schedule.partner.company} at #{@schedule.city.name}") %>

<%= render 'layouts/nav_dark_text' %>

<section class="padding-seven">
  <div class="container">
    <div class="row">
      <div class="col-md-6 center-col text-center">
        <%= link_to "⇽ back", :back, class: "clearfix" %>
        <%= image_tag @schedule.partner.img_url, alt: "photo of #{@schedule.partner.company}", class: "margin-four height-300" %>
        <span class="clearfix"><%= @schedule.klass.level %></span>
        <h1><%= @schedule.klass.name %></h1>
        <p><%= link_to @schedule.partner.company, partner_path(@schedule.partner), class: "link-underline" %> — <%= @schedule.city.name %></p>
        <p><%= @schedule.klass.description %></p>
        <table class="table">
          <thead>
            <tr>
              <th class="padding-one text-center">Date</th>
              <th class="padding-one text-center">Time</th>
              <th class="padding-one text-center">Age</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="padding-two"><%= @schedule.date.strftime("%A, %d %b %Y") %></td>
              <td class="padding-two"><%= @schedule.start_time.strftime("%l:%M%P") %> - <%= @schedule.end_time.strftime("%l:%M%P") %></td>
              <td class="padding-two"><%= @schedule.klass.age_start %>-<%= @schedule.klass.age_end %></td>
            </tr>
          </tbody>
        </table>
        <p>Interested to reserve this class for your child?</p>
        <%= link_to "Get GeniusPass Membership", invite_path, class: "highlight-button-dark btn btn-medium btn-round button" %>
        <br><br>
        <p>Already have GeniusPass?</p>
        <%= link_to "Reserve This Class", new_schedule_reservation_path(@schedule), class: "highlight-button-dark btn btn-medium btn-round button" %>
      </div>
    </div>
  </div>
</section>
