.sidebar-widget
  %h3 Children
  .children-list
    %table.table.children-list-table
      - @children = current_user.children.sort_by_age_name
      - @children.each do |child|
        %tr
          %td.children-name
            = child.first_name
            = child.last_name
          %td.children-number= age(child)
          %td.children-edit
            = link_to " ", edit_user_child_path(current_user, child), :class => "fa fa-pencil"
    .sidebar-footer
      = link_to "+ Add", new_user_child_path(current_user), class: "gp-button"
