.schedule-item-container
  .schedule-image
    = image_tag @schedule.partner.img_url, alt: "photo of #{@schedule.partner.company}"
  .schedule-details
    .level 
      = @schedule.klass.level
    %h3.activity 
      = @schedule.klass.name
    .partner
      by #{link_to @schedule.partner.company, partner_path(@schedule.partner)}

    .description 
      = @schedule.klass.description
    %dl.dl-horizontal
      %hr/
      %dt Date:
      %dd= @schedule.starts_at.strftime("%-d %b %Y")
      %hr/
      %dt Time:
      %dd
        = @schedule.starts_at.strftime("%l:%M%P")
        \- #{@schedule.ends_at.strftime("%l:%M%P")}
      %hr/
      %dt Recurrence:
      %dd
        = @schedule.recurrence
      %hr/
      %dt Age:
      %dd
        = @schedule.klass.age_start
        \- #{@schedule.klass.age_end}
      %hr/
      %dt Max:
      %dd
        = pluralize(@schedule.quantity, "participant")
      %hr/
    .address
      %h3 Address
      %p
        %i.fa.fa-map-marker
        = @schedule.partner.address
        , #{@schedule.city.name}, #{@schedule.partner.state}
