<div class="schedule-item-container">
  <div class="schedule-image">
    <%= image_tag @schedule.partner.img_url, alt: "photo of #{@schedule.partner.company}" %>
  </div>

  <div class="schedule-details">
    <div class="level"><%= @schedule.klass.level %></div>

    <h3 class="activity"><%= @schedule.klass.name %></h3>

    <div class="partner">by <%= link_to @schedule.partner.company, partner_path(@schedule.partner) %></div>

    <div class="description"><%= @schedule.klass.description %></div>

    <dl class="dl-horizontal">
      <hr>
      <dt>Date:</dt>
      <dd><%= @schedule.starts_at.strftime("%-d %b %Y") %></dd>
      <hr>
      <dt>Time:</dt>
      <dd><%= @schedule.starts_at.strftime("%l:%M%P") %> - <%= @schedule.ends_at.strftime("%l:%M%P") %></dd>
      <hr>
      <dt>Age:</dt>
      <dd><%= @schedule.klass.age_start %> - <%= @schedule.klass.age_end %></dd>
      <hr>
      <dt>Max:</dt>
      <dd><%= pluralize(@schedule.quantity, "participant") %> </dd>
      <hr>
    </dl>

    <div class="address">
      <h3>Address</h3>
      <p>
        <i class="fa fa-map-marker"></i>
        <%= @schedule.partner.address %>, <%= @schedule.city.name %>, <%= @schedule.partner.state %>
      </p>
    </div>
  </div>
</div>
