<% provide(:title, 'Reserve a class') %>

<%= render 'layouts/nav_dark_text' %>

<section class="margin-one">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <h4 class="title-large text-center margin-four-bottom">Reserve a class for...</h4>

        <%= form_for [@schedule, @reservation] do |f| %>
          <%= render 'form', f: f %>

          <div class="pull-right">
            <%= link_to "Cancel", :back,
                class: "btn-small-black-border-light btn btn-small button" %>
            <%= f.submit "Reserve", class: "highlight-button-dark btn btn-small button" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
