<% provide(:title, "Reserve a class for #{@schedule.klass.name}") %>

<%= render 'layouts/nav_dark_text' %>

<section class="margin-one">
  <div class="container">

    <div class="row">
      <div class="col-sm-9 center-col border padding-one">
        <%= render 'ticket' %>
      </div>
    </div>

    <% if @reservations.present? %>
      <div class="row">
        <div class="col-md-3 center-col margin-four">
          <h4 class="text-center border-bottom">Current reservations</h4>
          <ul>
            <% @reservations.each do |reservation| %>
              <li>
                <%= reservation.child.first_name if reservation.child %>
                <%= link_to 'cancel', schedule_reservation_path(reservation.schedule, reservation),
                      method: :delete,
                      data: { confirm: "Cancel reservation for #{reservation.child.first_name}?" },
                      class: "pull-right" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if @children.present? %>
      <div class="row margin-four">
        <div class="col-md-3 center-col">
          <%= render 'form' %>
        </div>
      </div>
    <% end %>

    <% if @reservations.empty? && @children.empty? %>
      <div class="row margin-four">
        <div class="text-center">
          <p class="light-gray-text">You have no eligible children to reserve this class.</p>
        </div>
      </div>
    <% end %>

  </div>
</section>
