<% provide(:title, "Reserve a class for #{@schedule.klass.name}") %>

<%= render 'shared/notice' if flash.present? %>

<section class="margin-four-top">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <%= render 'shared/schedule' %>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <% if @schedule.klass.reservation_limit > 0 %>
          <%= render 'limit_notice' %>
        <% end %>

        <% if @reservations.present? %>
          <%= render 'reservations' %>
        <% end %>

        <% if @children.present? && (Time.zone.now <= @schedule.starts_at - 6.hours) %>
          <%= render 'form' %>
        <% elsif Time.zone.now.between?(@schedule.starts_at - 6.hours, @schedule.starts_at) %>
          <span>Note:</span>
          <p>A class starting less than 6 hours can't be reserved for additional children.</p>
        <% end %>

        <% if @reservations.empty? && @children.empty? %>
          <%= render 'eligibility_notice' %>
        <% end %>
      </div>

    </div>
  </div>
</section>
