- provide(:title, "Reserve a class for #{@schedule.klass.name}")
- provide(:page_title_bg, asset_path('page-bg-reservation.jpg'))
.content.reservation-page
  = render partial: 'layouts/page_title', locals: { page_title: 'Reservation' }
  = render 'shared/notice' if flash[:notice].present?
  .container
    .row
      .col-md-7
        %p.text-center
          = attendees(@schedule.reservations.count, @schedule.quantity)
        .content-main
          = render 'shared/schedule'
      .col-md-5
        - if @schedule.klass.reservation_limit > 0
          = render 'limit_notice'

        .reservation-list.content-main
          - if @reservations.present?
            %h3 Reservations
            %table.table.reservation-list-table
              %thead
                %tr
                  %th
                  %th.date Created on
                  - if Time.zone.now <= @schedule.starts_at
                    %th
              %tbody
                = render :partial => 'reservation', :collection => @reservations

            - if Time.zone.now < @schedule.ends_at
              .schedule-notes.margin-two-six
                %span Note:
                %p A reservation can't be canceled once it's passed 11:59pm before the schedule starts next day. Non-attendance for a confirmed reservation will be charged RM20.

          = render 'shared/inline_error' if flash[:error].present?
          - if @children.present? && (Time.zone.now <= @schedule.starts_at - 6.hours) && (@schedule.reservations.count < @schedule.quantity)
            = render 'form'
          - elsif Time.zone.now.between?(@schedule.starts_at - 6.hours, @schedule.starts_at)
            .schedule-notes
              %p A class starting less than 6 hours from now can't be reserved for additional children.
          - elsif Time.zone.now >= @schedule.starts_at - 6.hours
            .schedule-notes
              %span Note:
              %p This class is past the scheduled time and can't be reserved anymore.
          - if @reservations.empty? && @children.empty?
            = render 'eligibility_notice'
          %p.notice
            = "You have #{current_user.reservation_allowed_for_partner(@schedule.partner)} out of #{@schedule.partner.user_allowed} sessions left for this month #{@schedule.partner.company}."
          - if current_user.children && current_user.should_upgrade?(current_user.children.first.id)
            = link_to "Upgrade Now", new_child_subscription_path(current_user.children.first.id),
                        :class => "btn btn-danger col-md-12", :id => "upgrade"
