Hi,

Your reservation for #{@reservation.schedule.klass.name} has been canceled.

You have been imposed R10 as fine.

Here are the details of schedule of canceled reservation.

Class Name: #{@reservation.schedule.klass.name}
Activity  : #{@reservation.schedule.activity.name}
Starts at : #{@reservation.schedule.starts_at}
Ends at   : #{@reservation.schedule.ends_at}

Regards,
GeniusPass Team
