#package-subscription.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Subscribe Your Plan
      .modal-body
        = form_for(@subscription, url: child_subscriptions_path(@child)) do |f|
          .field
            = f.label :select_plan
            %br/
            - if current_user.can_avail_discounted_plans?
              = f.radio_button :plan_id, "RM79", checked: true
              = f.label :plan, "RM79 (Unlimited Classes/Month)", class: 'multiple_classes'
              %br/
              = f.radio_button :plan_id, "RM39", checked: false
              = f.label :plan, "RM39 (4 Classes/Month)", class: 'multiple_classes'
              %br/
            - else
              = f.radio_button :plan_id, "RM99", checked: true
              = f.label :plan, "RM99 (Unlimited Classes/Month)", class: 'multiple_classes'
              %br/
              = f.radio_button :plan_id, "RM49", checked: false
              = f.label :plan, "RM49 (4 Classes/Month)", class: 'multiple_classes'
              %br/
          #dropin
          = f.submit "Subscribe", class: "btn btn-success", :id => "suscribe_btn"


