<% provide(:title, "Payment") %>
<% provide(:nav_color, "link-white") %>
<% provide(:page_title_bg, asset_path('page-bg-child.jpg')) %>

<div class='content subscribe-page'>
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Payment' } %>
  <%= render 'shared/notice', locals: { flash: flash } if flash.present? %>



  <div class="container">
    <div class="content-main">
      <h3>Select Your Plan</h3>
      <div class="package-pricing-table-container">

        <% @packages.each do |plan| %>
          <div class="package-pricing-table <%= "featured" if plan.featured? %>">
            <div class="package-pricing-title">
              <%= plan.name %>
            </div>

            <div class="package-pricing-price">
              <% if plan.on_discount? %>
                <span class="package-original-pricing-number">
                  RM<%= plan.price %>
                </span>

                <span class="package-pricing-currency">RM</span>
                <span class="package-pricing-number">
                  <%= plan.discount_price %>
                </span>
                <span class="package-pricing-subtitle">
                  Per Month
                  <span class="package-pricing-saving-subtitle">
                    (Save RM<%= plan.price - plan.discount_price %>)
                  </span>
                </span>
              <% else %>
                <span class="package-pricing-currency">RM</span>
                <span class="package-pricing-number">
                  <%= plan.price %>
                </span>
                <span class="package-pricing-subtitle">Per Month</span>
              <% end %>
              <span class="package-pricing-details">
                <%= "#{plan.activities_allowed} Activities Per Month" %>
              </span>
            </div>

            <div class="package-pricing-content">
              <p>We make it really simple for you:</p>
              <ul>
                <li>
                  <i class="fa fa-check"></i>
                  Auto Renewal
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  No Contract
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  No Termination Fee
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  Cancel Anytime
                </li>
              </ul>
            </div>

            <div class="package-pricing-action">
              <div class="gp-link" data-toggle="collapse" href="#package-promocode-<%= plan.name %>" title="Got Promo Code?">
                Got Promo Code?
              </div>

              <div class="package-promo-code collapse" id="package-promocode-<%= plan.name %>">
                <div class="promo_code_plan">
                  <%= render :partial => "users/referal_code_form" %>
                </div>
              </div>

              <button class="gp-button open-modal" data-id="RM79" data-promocode="" data-subscription-type-id="3" data-target="#package-subscription" data-toggle="modal" href="#" title="Select Plan">
                Select Plan
              </button>
            </div>
          </div>
        <% end %>


      </div>


      <p class="basic-package-link">
        <% plan = SubscriptionType.free %>
        <%= link_to "Try our Basic Package for FREE", child_subscriptions_path(@child, subscription: { :subscription_type_id => plan.id }), method: :post, class: "gp-link" %>
        <span>
          <%= "(#{plan.activities_allowed} Activity Per Month)" %>
        </span>
      </p>

    </div>
  </div>

  <div class="modal fade" id="package-subscription" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"></span> x
          </button>
          <h4 class="modal-title">Subscribe Your Plan</h4>
        </div>
        <%= form_for @subscription, url: child_subscriptions_path(@child) do |f| %>
          <div class="modal-body">
            <div class="field">
              <%= f.hidden_field :plan_id %>
              <%= f.hidden_field :promo_code %>
              <%= f.hidden_field :subscription_type_id %>
              <div id="dropin"></div>
            </div>
          </div>
          <div class="modal-footer">
            <%= image_tag 'ssl-img.png', width: '150px', height: '80px', class: 'pull-left' %>
            <%= f.submit "Confirm Payment", class: "btn btn-danger", :id => "suscribe_btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
    $(".open-modal").click(function() {
      var promo_code = $(this).data('promocode');
      var subscription_type_id = $(this).data('subscription-type-id')
      var planId = $(this).data('id');
      $("#subscription_plan_id").val( planId );
      $("#subscription_promo_code").val( promo_code);
      $("#subscription_subscription_type_id").val( subscription_type_id);
    });
  });


</script>

<%= content_for :javascript do %>
  <%= javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js" %>
  <script>

     var client_token = "<%= @client_token %>";
     braintree.setup(
       client_token,
       'dropin', {
         container: 'dropin',
         onReady: function(){ $("#suscribe_btn").prop('disabled', false); }
       });

  </script>
<% end %>
