<% provide(:title, "Dashboard") %>
<% provide(:nav_color, "link-white") %>
<%= render partial: 'layouts/page_title', locals: { page_title: 'Dashboard' } %>
<%= render 'shared/notice' if flash.present? %>

<section class="padding-two">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <table class="table">
          <tr>
            <th>Plan Name</th>
            <th>Subscriped On</th>
            <th>Amount</th>
            <th>Summary</th>
            <th>Plan Duration</th>
            <th>Renewal Date</th>
            <th>Status</th>
          </tr>
          <tr>
            <td><label class="label label-primary"><%= @subscription.plan_id %></label></td>
            <td><label class="label label-default"><%= @subscription.subscriped_on %></label></td>
            <td><%= "#{@plan.currency_iso_code} #{@plan.price.to_f}" %></td>
            <td><%= @plan.description %></td>
            <td><%= @plan.billing_frequency.to_s + " month" %></td>
            <td><label class="label label-default"><%= @subscription.renewal_date.strftime('%d-%B-%Y') %></label></td>
            <td><label class="label label-success"><%= @subscription.print_status %></label></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
