- provide(:title, "Password Reset")
.content.forgot-password-page
  = render :partial => 'shared/devise_messages'
  .container
    .login-container
      %h1 Recover Password
      %span Enter the email you used for your GeniusPass account
      = form_for(resource, as: resource_name, url: password_path(resource_name),      |
        html: { method: :post, class: "forgot-password-form form-container" }) do |f| |

        = devise_error_messages!

        .form-group.form-group-icon.form-group-email.field
          = f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control"
        .form-group
          = f.submit "Send me reset password instructions", class: "form-submit-btn btn gp-button"
        %div.form-meta
          / Not a member? #{link_to "Sign up", new_user_registration_path}
