<%= form_for(@city) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to "Cancel", admin_path %>
  </div>
<% end %>
