<% provide(:title, 'Edit activity') %>

<h1>Edit Activity</h1>

<%= form_for(@activity) do |f| %>

  <%= render 'form', f: f %>

  <div class="actions">
    <%= link_to "Cancel", admin_path %>
    <%= f.submit "Update" %>
  </div>
<% end %>

<br>
<%= link_to 'Delete activity', @activity, method: :delete,
    data: { confirm: "Delete activity <#{@activity.name}>?" } %>
