<% provide(:title, 'Edit activity') %>

<section class="padding-one">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1 class="title-large text-center margin-two-six">Edit Activity</h1>

        <%= form_for(@activity) do |f| %>
          <%= render 'form', f: f %>

          <div class="margin-five clearfix">
            <%= link_to 'Delete', @activity, method: :delete,
                data: { confirm: "Delete activity <#{@activity.name}>?" },
                class: "pull-left underline padding-two"  %>
            <%= f.submit "Update", class: "highlight-button-dark btn btn-small button pull-right" %>
            <%= link_to "Cancel", admin_settings_path,
                class: "btn-small-black-border-light btn btn-small button pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

