<% provide(:title, "Forgot Admin Password?") %>

<h1 class="title-large text-center margin-two-six">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="margin-three">
    <%= f.submit "Send me reset password instructions", class: "highlight-button-dark btn btn-small button" %>
  </div>
<% end %>
