<header>
  <nav class="navbar navbar-default nav-transparent overlay-nav non-sticky-nav">
    <div class="container">
      <div class="navbar-header">
        <!-- Mobile Navigation Panel Button -->
        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false" aria-controls="navbar">
          <i class="fa fa-bars"></i>
        </a>

        <!-- Logo -->
        <%= link_to image_tag("logo.png", title: "Genius Pass", alt: "Genius Pass"), root_url, class: "brand-logo navbar-brand" %>
      </div>

      <!-- Top Navigation -->
      <div id="top-nav" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <ul class="main-nav">
              <li><%= link_to "Dashboard", current_user %></li>
              <li><%= link_to "Schedules", schedules_path  %></li>
              <!-- Disable turbolink for partners#index link so isotope.js can work properly -->
              <li><%= link_to "Partners",  partners_path, :"data-no-turbolink" => true %></li>
              <li><%= link_to "Profile",   edit_user_registration_path  %></li>
              <hr>
              <li><%= link_to "Logout",    destroy_user_session_path, method: "delete"  %></li>
            </ul>
          <% else %>
            <!-- Main Navigation -->
            <ul class="main-nav">
              <li><%= link_to "Partners",  partners_path, :"data-no-turbolink" => true %></li>
              <li><%= link_to "Schedules", schedules_path %></li>
            </ul>
            <hr>
            <!-- Login & Sign Up Button -->
            <div class="button-menu">
              <%= link_to new_user_session_path, id: "login", class: "btn-menu secondary" do %>
                <span data-title="Login">Login</span>
              <% end %>
              <%= link_to new_user_registration_path, id: "signup", class: "btn-menu" do %>
                <span data-title="Sign Up">Sign Up</span>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
