%body
  %header
    %nav.navbar.navbar-default.nav-transparent.overlay-nav.non-sticky-nav.main-header
      .container
        .navbar-header
          / Mobile Navigation Panel Button
          %a.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#top-nav", "data-toggle" => "collapse"}
            %i.fa.fa-bars
          / Logo
          = link_to image_tag("Logo2.png", title: "Genius Pass", alt: "Genius Pass"), root_url, class: "brand-logo navbar-brand "
          = link_to image_tag("Logo3.png", title: "Genius Pass", alt: "Genius Pass"), root_url, class: "brand-logo #{'mobile' if cookies[:mobile].present?} navbar-brand"
        / Top Navigation
        #top-nav.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              - if controller.action_name == 'onboard' && controller.controller_name == 'users'
                %ul.main-nav
                  %li= link_to "Logout",    destroy_user_session_path, method: "delete"
              - else
                %ul.main-nav
                  %li{:class => current_path(current_user)}
                    = link_to "Dashboard", current_user
                  - if @child_id.present?
                    %li{:class => current_path(curated_child_path(@child_id))}
                      = link_to "Personalize Activities", curated_child_path(@child_id)
                  %li{ :class => current_path(schedules_path)}
                    = link_to "Schedules", schedules_path
                  / Disable turbolink for partners#index link so isotope.js can work properly
                  %li{:class => current_path(partners_path)}
                    = link_to "Partners",  partners_path, :"data-no-turbolink" => true
                  %li{:class => current_path(edit_user_registration_path)}
                    = link_to "Profile",   edit_user_registration_path
                  %hr/
                  %li= link_to "Logout",    destroy_user_session_path, method: "delete"
            - else
              / Main Navigation
              %ul.main-nav
                / %li{:class => current_path(root_path)}
                /   = link_to "Home", root_path
                / %li{:class => current_path(partners_path)}
                /   = link_to "Partners",  partners_path, :"data-no-turbolink" => true
                / %li{:class => current_path(schedules_path)}
                /   = link_to "Schedules", schedules_path
              %hr/
              / Login & Sign Up Button
              .button-menu
                / = link_to new_user_registration_path, id: "signup", class: "btn-menu" do
                /   %span{"data-title" => "Get Started"} Get Started
                - unless controller.action_name == 'new' && controller.controller_name == 'sessions'
                  = link_to new_user_session_path, id: "login", class: "btn-menu secondary" do
                    %span{"data-title" => "Login"} Login
