<!DOCTYPE html>
<html>
<head>
  <title><%= admin_full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="text-med dark-gray-text">

<%= render 'layouts/nav_admin' %>

<p class="alert-style7 alert-success"><%= notice %></p>

<%= yield %>

</body>
</html>
