!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title), "admin")
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,maximum-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/shim'
  %body.text-med.black-text
    = render 'layouts/nav_admin'
    %p.alert-style7.alert-success= notice
    = yield
