<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <!-- favicon -->
<!--   <link rel="shortcut icon" href="favicon.png">
  <link rel="apple-touch-icon" href="apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png"> -->
  <!-- styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> <!-- fixes for Internet Explorer -->
</head>
<body>

<%= render 'layouts/nav' %>

<%= yield %>

</body>
</html>
