<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="GeniusPass gets your children unlimited access to training classes and facilities for a monthly subscription.">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> <!-- fixes for Internet Explorer -->
</head>
<body class="text-med black-text">

  <%= render 'layouts/nav' %>

  <%= yield %>

</body>
</html>
