<%= render 'shared/error_messages', object: f.object %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :activity_id, "Category", class: "display-block" %>
  <%= collection_select(:klass, :activity_id, Activity.order(:name), :id, :name) %>
</div>
<div class="field">
  <%= f.label :level, class: "display-block" %>
  <%= f.select :level, Klass::LEVEL, include_blank: true %>
</div>
<div class="field">
  <%= f.label :age_start, "Age Group", class: "display-block" %>
  <%= f.select :age_start, 0..50, {} %>
  <%= f.label :age_end, " to ", class: "label-in-between" %>
  <%= f.select :age_end, 0..50, { selected: @klass.age_end || 50 } %>
</div>
<div class="field">
  <%= f.label :reservation_limit, "Reservation Limit", class: "display-block margin-one-bottom" %>
  <%= f.number_field :reservation_limit, class: "width-10 margin-one-right no-margin-bottom" %>
  <small> per child per month</small>
  <small class="deep-light-gray-text display-block">Set as 0 for unlimited.</small>
</div>
<div class="field margin-two-top">
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>
</div>
