<%= render 'shared/error_messages', object: f.object %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :activity_id, "Category" %>
  <%= collection_select(:klass, :activity_id, Activity.order(:name), :id, :name) %>
</div>
<div class="field">
  <%= f.label :level %>
  <%= f.select :level, Klass::LEVEL, include_blank: true %>
</div>
<div class="field">
  <%= f.label :age_start, "Age Group", class: "display-block" %>
  <%= f.select :age_start, 4..17, {}, {class: "select-short"} %>
  <%= f.label :age_end, " — " %>
  <%= f.select :age_end, 4..17, {selected: @klass.age_end || 17}, {class: "select-short"} %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5 %>
</div>
