<% provide(:title, 'Edit class') %>

<section class="padding-one">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h1 class="title-large text-center margin-four-bottom">Edit Class</h1>

        <%= form_for [@partner, @klass] do |f| %>
          <%= render 'form', f: f %>

          <div class="margin-five clearfix">
            <%= link_to 'Delete', [@partner, @klass], method: :delete,
                data: { confirm: "Delete class <#{@klass.name}>?" },
                class: "pull-left underline padding-two"  %>
            <%= f.submit "Update", class: "#{primary_button_small} pull-right" %>
            <%= link_to "Cancel", admin_partner_klasses_path(@partner),
                class: "#{secondary_button_small} pull-right" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
