- provide(:title, "Profile")
- provide(:page_title_bg, asset_path('page-bg-profile.jpg'))
.content.profile-page
  = render partial: 'layouts/page_title', locals: { page_title: 'Profile' }
  .container
    .row
      .col-md-3
        - @children = current_user.children.sort_by_age_name
        = render :partial => 'users/sidebar'
      .col-md-9
        .content-main
          %h3 Edit Profile Details

          = simple_form_for(resource,
                            :as => resource_name,
                            :url => registration_path(resource_name),
                            :html => {  :method => :put,
                                        :class => "edit-profile-form form-container form-horizontal" },
                            :defaults => {  :wrapper_html => { :class => 'field' },
                                            :input_html =>   { :class => 'col-sm-8' },
                                            :label_html =>   { :class => 'col-sm-4'}}) do |f|

            = devise_error_messages!

            .form-section
              %h3.form-section-title
                Profile Details
            = f.input :name
            = f.input :email
            = f.input :location, collection: City.pluck( :name )


            .form-separator
            .form-section
              %h3.form-section-title
                Membership details
            = render :partial => 'children/child', :collection => resource.children

            .form-separator
            .form-section
              %h3.form-section-title
                Change Password
            = f.input :current_password, :hint => "(input your current password to confirm your changes)"
            = f.input :password, :hint => "(leave blank if you don't want to change it)"
            = f.input :password_confirmation
            = f.submit "Update", :class => "form-submit-btn gp-button pull-right"
