<% provide(:title, "Sign up") %>

<h1 class="title-font-300 text-center content-top-margin margin-five-bottom">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions margin-three-ten">
    <%= f.submit "Sign up", class: primary_button_small %>
  </div>
<% end %>

<div class="margin-five-top link-underline">
  <%= render "users/shared/links" %>
</div>
